#projects{
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content:center;
    align-items:center;
    padding:6rem 4rem;
    background:#EFE1BD;
    color:#000;
    font-family: 'Open Sans Condensed', sans-serif;
}

#title{
    display:flex;
    letter-spacing:3px;
    justify-content:center;
    align-items:center;
}

.titleIcon{
    color:#A17857;
    opacity:0.6;
    width:3.5rem;
    height:3.5rem;
    cursor:pointer;
}

.titleIcon:hover{
    opacity:1;
}

#content{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-top:2rem;
    width:80%;
}

@media all and (min-width:0px) and (max-width:720px){
    #projects{
        padding:2rem 0;
    }
    #content{
        margin-top:0.5rem;
    }
}